<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} | Vinay Keerthi KT{% endblock %}</title>
    <link rel="stylesheet" href="static/css/main.min.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
                <span>Vinay Keerthi</span>
                <div class="menu"></div>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
