.blogs{
    max-width: 960px;
    margin: 0 auto;
    .post{
        border-bottom: 2px $blue solid;
        padding: 1rem 0;
        h2{
            margin-top: 0;
            font-size: 2em;
            letter-spacing: 2px;
        }
        .meta{
            display: flex;
            justify-content: space-between;
            color: darken($dark-blue, 10%);
            width: 35%;
        }
        .content{
            padding: 20px 0;
            line-height: 1.8;
        }
    }
}
