{% extends "layouts/base_layout.html" %}

{% block title %}  Index{{ super() }} {% endblock %}

{% block content %}
    <div class="banner">
        <div class="content">
            <h1>The programming writer</h1>
            <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta odit sed maxime eligendi quaerat suscipit doloribus consectetur, nobis error amet. Incidunt ad officiis quisquam culpa laudantium, officia omnis quod nisi consequuntur iusto aut placeat unde perspiciatis cum dicta voluptates ullam autem minus eius temporibus numquam eveniet provident non, facilis aliquam.</p>
        </div>
    </div>
{% endblock %}
